<h2>Create Component</h2>
<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input required matInput type="text" ngModel name="title" #title="ngModel" />
        </mat-form-field>
        <mat-error *ngIf="title.invalid && title.touched">Required</mat-error>
        <br />
        <mat-form-field>
            <textarea required rows="6" matInput ngModel name="content" #content="ngModel"></textarea>
        </mat-form-field>
        <mat-error *ngIf="content.invalid && content.touched">Required</mat-error>
        <br />
        <button type="submit" mat-raised-button color="primary">Save post</button>
    </form>
</mat-card>